<!DOCTYPE html>
<html>
<head>
  <title>BenchBnB</title>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCD8YlDc-plm2p1mis1cfEWFD53o0PgOvo" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>

</head>
<body>

<%= yield %>

</body>
</html>
